{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": false,
  "check-coverage": true,
  "include": ["src/**.ts", "src/http/**.ts", "src/resources/**.ts"],
  "exclude": ["src/interfaces/*.ts"]
}